footer,div,nav{text-align: center}
@font-face { font-family: OptimusPrinceps; src: url('OptimusPrinceps.ttf'); } 
h1 { font-family: OptimusPrinceps, sans-serif;font-size: 10vw;-webkit-text-stroke: 1px yellow;-webkit-text-fill-color: black}
h4{ font-family: OptimusPrinceps, sans-serif;-webkit-text-fill-color: black}
label{ font-family: OptimusPrinceps, sans-serif;-webkit-text-fill-color: yellow}
body{background-image: url('background.png')}
footer{-webkit-text-fill-color: black}
a:hover{color: yellow}
.slid{width: 100px;height: 350px}
.navbar{
    display: inline-block;
    float: none;
    text-align: center;
}
.activo{
    border: solid black; border-radius: 15px; color: gold
}

#overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #overlay{z-index: 10}
 
  #overlay {
    height:0px;
    overflow:visible;
    pointer-events:none;
    background:none !important;
}
.card{display:inline-flex;vertical-align: top}

#honeypot {
    display: none; /*makes the field not visible to humans*/
  }